.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:85vh;
    width: 40vw;
    background-color: red;
}
.TopText{
    width: 40vw;
    display: flex;
    justify-content: space-between;
}
.Notifications{
    display: flex;
}