.reply-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 0 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
}
.inputReply{
   height: 70px; 
   width: 68%;
   padding-left: 10px;
   padding-right: 10px;

   font-family: Rubik;
   font-size: 16px;
   font-weight: 400;
   white-space: pre-wrap;
   color:hsl(212, 24%, 26%);

   border-radius: 10px;
   border-color: hsl(211, 10%, 45%);
   border-style:solid;
   align-self: flex-start;   
   resize: none;
}
.profImg{
    padding-bottom: 40px;
    width: 30px;
    height: 30px;
}

.replyBtn{
    font-family: Rubik;
    font-size: 15px;
    color: hsl(228, 33%, 97%);

    background-color: hsl(238, 40%, 52%);
    border-radius: 5px;
    border: none;

    margin-bottom: 30px;
    width: 90px; 
    height: 40px;
    cursor: pointer;
}
.replyBtn:hover{
    background-color: hsl(239, 57%, 85%);
}