<div class="notification-item {{notification.viewed}}">
    <img [src]="notification.userPhotoUrl" alt="User Photo" [className]="notification.type">
    <div class="notification-content">
      <ng-container *ngIf="notification.type === 'privateMessage'">
        <p><span class="interactive">{{ notification.userName }}</span> {{ notification.action }} <span class="dot"></span></p>
        <p>{{ notification.time }}</p>
        <div class="privateContent">
          <p>{{ notification.content }}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="notification.type != 'privateMessage'">
          <p>
            <span class="interactive">{{ notification.userName }}</span> 
            {{ notification.action }} 
            <span class="interactive">{{ notification.content }}</span> 
            <span class="dot"></span>
          </p>
          <p>{{ notification.time }}</p>
      </ng-container>
    </div>
    <ng-container *ngIf="notification.type === 'comment'">
      <img [src]="notification.image" alt="Commented Picture" class="picComment">
    </ng-container>
</div>
