<div class="notification-item {{notification.viewed}}">
    <img [src]="notification.userPhotoUrl" alt="User Photo" [className]="notification.type">
    <div class="notification-content">
      <ng-container *ngIf="notification.type === 'privateMessage'">
        <p>{{ notification.userName }} {{ notification.action }}</p>
        <p>{{ notification.time }}</p>
        <div class="privateContent">
          <p>{{ notification.content }}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="notification.type != 'privateMessage'">
          <p>{{ notification.userName }} {{ notification.action }} {{ notification.content }}</p>
          <p>{{ notification.time }}</p>
      </ng-container>
    </div>
  </div>
