.comment-item{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    background-color: red;
}
.score{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
    background-color: blue;
    
}
.user-header{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.userInfo{
    display: flex;
    align-items:center;
    gap: 10px;
}
.userPhoto{
    width: 25px;
    height: 25px;
}
.optionsComment{
    display: flex;
    align-items:center;
}