.comment-item{
    display: flex;
    align-items: center;
    width: 650px;
}
.score{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
    background-color: blue;
    
}
.user-header{
    display: flex;
    align-items:baseline;
}