.comment-item{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%) ;
    min-height: 110px;
}
.content{
    width: 100%;
}
.user-header{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.username{
    font-family: Rubik;
    font-size: 13px;
    font-weight: 700;
    color: hsl(212, 24%, 26%);
}
.userInfo{
    display: flex;
    align-items:center;
    gap: 10px;
}
.userPhoto{
    width: 25px;
    height: 25px;
}

.edit-mode{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}
.textAreaEdit{
    font-family: Rubik;
    font-size: 15px;
    font-weight: 400;
    color:hsl(212, 24%, 26%);

    border-radius: 10px;
    border-color: hsl(211, 10%, 45%);
    white-space: pre-wrap;
    border-style:solid;

    padding-left: 10px;
    padding-right: 10px;
    width: 96%;
    align-self: flex-start;   
    resize: none;
}

.blueButton{
    font-family: Rubik;
    font-size: 15px;
    color: hsl(228, 33%, 97%);

    background-color: hsl(238, 40%, 52%);
    border-radius: 5px;
    border: none;
    width: 90px; 
    height: 40px;
    cursor: pointer;
}
.blueButton:hover{
    background-color: hsl(239, 57%, 85%);
}

.contextText{
    margin-top: 0;
    margin-right: 10px;
}

.createdAt, .contextText{
    font-family: Rubik;
    font-size: 15px;
    font-weight: 400;
    color: hsl(211, 10%, 45%);
}

.youTag{
    font-size: 13px;
    font-family: Rubik;
    font-weight: 400;
    
    background-color: hsl(238, 40%, 52%);
    color: white;
    padding: 0 5px 2px 5px;
}

.mention{
    font-family: Rubik;
    color:hsl(238, 40%, 52%);
    font-weight: 500;
}

ul{
    padding: 0;
    margin: 0;
}

.ulReply{
    position: relative;
}

.replyChain {
    position: relative;
    margin-top: 10px;
}

.mainReply{
    position: relative;
    padding-left: 80px;
}

.parentReply{
    margin-top: 5px;
}

.vertical-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: hsl(223, 19%, 93%);
    top: 0;
    bottom: 0;
    left: 37px;
    z-index: -1;
}

@media (min-width: 680px) {
    .desktopOptions{
        display: block;
    }
    .desktopScore{
        display: block;
    }
    .mobileOptions{
        display: none;
    }
}

@media (max-width: 680px) {
    .comment-item{
        flex-direction: column;
        padding-left: 10px;
        width: 90%;
    }
    .desktopOptions{
        display: none;
    }
    .desktopScore{
        display: none;
    }
    .mobileOptions{
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin-bottom: 15px;
        width: 100%;
    }
    .replyChain {
        padding-left: 20px !important;
    }
    .vertical-line {
        left: 10px;
    }
}