.score{
    font-size: 13px;
    text-align: center;
    margin: 15px 20px 0 20px; //top | right | bottom | left
    padding: 10px 0 10px 0;
    width: 40px;
    height: 60px;
    border-radius: 10px;
    background-color: hsl(228, 33%, 97%);

    font-family: Rubik;
    color:hsl(238, 40%, 52%);
    font-weight: 500;
}
.plusminus{
    color: hsl(239, 57%, 85%);
    cursor: pointer;
}
.plusminus:hover{
    color: hsl(238, 40%, 52%);
    fill: hsl(238, 40%, 52%);
}

@media (max-width: 680px) {
    .score{
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 60px;
        height: 40px;
        margin: 0 20px 0 20px; //top | right | bottom | left
        padding: 0 10px 0 10px;
    }
}